.fondo {
    background-color: #f1f1f1; /* Color de fondo */
    color: #333;              /* Color de texto */
    padding: 20px;            /* Espaciado interno */
    font-family: Arial, sans-serif; /* Fuente */
  }
  